body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.MainContainer {
  width: 100%;
}

.MainWrapper {
  display: flex;
  width: 100%;
}

.BodyContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
}

.NavContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  width: 100%;
  max-width: 30rem;
}

.NavSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.25rem;
}

.row {
  flex-direction: row;
  gap: 0.5rem;
}

.col {
  flex-direction: column;
}

.end {
  margin-bottom: 1rem;
}

.sticky {
  position: sticky;
  top: 2rem;
}

.sticky2 {
  top: 6.5rem;
}

.projectContainer {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0rem;
  cursor: pointer;
}

.ImageContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-left: 0rem;
  gap: 0.5rem;
}

.image {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1300px) {
  .MainWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .NavContainer {
    width: 100%;
    max-width: none;
  }

  .BodyContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 5rem;
    width: 100%;
  }

  .ImageContainer {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    gap: 0.5rem;
  }

  .sticky {
    position: static;
  }
}
